<% content_for :body_classes, 'mahindra' %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("#btn_mahindra").click(function(){
      FB.login(function(response){
        if (response.authResponse){
          location.href = '<%= fb_app_hyundai_parva_formulario_path %>';
        }
      },{scope:'<%= @scope %>'});
    });
});
</script>
  <div id="head">
    <div id="logo"></div>
    <div id="menu">
      <ul>
      <li><a href="<%= fb_app_hyundai_parva_formulario_path %>" class="inicio">Inicio</a></li>
      <li><a href="/documents/fb_app_hyundai_parva.pdf" target="_blank" class="bases">Bases</a></li>
      </ul>
    </div>
  </div>