<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<div id="laparva">
  <%= link_to "", "#", :id => 'btn_invita' , :class => 'invitar2 invitar' %>
  <%= link_to "", "#", :id => 'btn_comparte' , :class => 'compartir2 sharefb' %>
  <a href="#" class="bases">Bases</a>
</div>