<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<div id="kidzania">
  <%= link_to "", "#", :id => 'btn_invita' , :class => 'invitar2 invitar' %>
  <%= link_to "", "#", :id => 'btn_comparte' , :class => 'compartir2 sharefb' %>
  <a href="/documents/fb_app_hyundai_parva.pdf" class="bases" target="_blank">Bases</a>
</div>