<div class="contenedor">
	<h2 class="nofan">Elige tu Haima</h2>
	<div id="haima2" ></div>
	<div id="haima3" ></div>
	<div id="haima7" ></div>
	<a class="bases" href="/documents/fb_app_haima.pdf" target="_blank">DESCARGAR LAS BASES</a>
</div>