<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<div class="contenedor">
	<h2 class="cierre">Elige tu Haima</h2>
	<a class="comparte sharefb" href="#">comparte</a>
	<a class="invita invitar" href="#">invita</a>
</div>