<% content_for :body_classes, 'mahindra' %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("#btn_mahindra").click(function(){
      FB.login(function(response){
        if (response.authResponse){
          location.href = '<%= fb_app_mahindra_teaser_concurso_path %>';
        }
      },{scope:'<%= @scope %>'});
    });

  $(".carrusel").fancybox({
    fitToView : false,
    width   : 600,
    height    : 350,
    autoSize  : false,
    closeClick  : false,
    openEffect  : 'none',
    closeEffect : 'none'
  });
});
</script>
<div id="mahindra">
    <div id="head">
    <div id="logo"></div>
    <div id="menu">
      <ul>
      <li><a href="<%= fb_app_mahindra_teaser_path %>" class="inicio">Inicio</a></li>
      <li><a href="/documents/fb_app_mahindra_teaser.pdf" target="_blank" class="bases">Bases</a></li>
      </ul>
    </div>
  </div>

  <a id="btn_mahindra" href="#"></a>
  <a id="btn_mahindra_play" class="carrusel fancybox.iframe" href="/documents/video_mahindra_teaser.html"></a>
  <a></a>
</div>
