<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<div id="head">
  <div id="logo"></div>
  <div id="menu">
    <ul>
      <li><a href="<%= fb_app_mahindra_teaser_path %>" class="inicio">Inicio</a></li>
      <li><a href="/documents/fb_app_mahindra_teaser.pdf" target="_blank" class="bases">Bases</a></li>
    </ul>
  </div>
</div>
<div id="main">
  <%= link_to "", "#", :id => 'btn_invita' , :class => 'invitar' %>
  <%= link_to "", "#", :id => 'btn_comparte' , :class => 'sharefb' %>
</div>