<div class="content">
    <div id="header">
        <div class="main_nav">
            <span class="main_logo"></span>
        </div>
    </div>
    
    <div class="content nofan"></div>
    
    <div id="footer">
    <a href="#" target="_blank" class="link_natgeo">NatGeoCh</a>
    <a href="#" target="_blank" class="tw_cargas">#CargasImposibles</a>
    <a href="#" target="_blank" class="tw_lovi">#LoViEnNatGeo</a>
    <span class="logo_cargo"></span>
    </div>
</div>