<script>

</script>
<div class="content">
    <div id="header">
        <div class="main_nav">
            <span class="main_logo"></span>
            <ul>
                <li><a href="#" class="img_quiz">Quiz Imposible</a></li>
                <li><a href="#" class="img_premios">Premios</a></li>
                <li><a href="#" class="img_bases">Bases</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div style="margin-top: 150px;">
            <%= text_field_tag(:siguiente, @siguiente) %>
            <%= text_field_tag(:answer, session[:answer]) %>

            <%= link_to "Comenzar", eval("fb_app_lan_cargo_q#{@siguiente}_path") %>
        </div>
    </div>
    <div id="footer">
        <a href="#" target="_blank" class="link_natgeo">NatGeoCh</a>
        <a href="#" target="_blank" class="tw_cargas">#CargasImposibles</a>
        <a href="#" target="_blank" class="tw_lovi">#LoViEnNatGeo</a>
        <span class="logo_cargo"></span>
    </div>
</div>