<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<script>
$(document).ready(function(){
  $(".startbutton").click(function(){
    FB.login(function(response){
      if (response.authResponse){
        location.href = '<%= fb_app_sony_codes_formulario_path %>';
      }
    },{scope:'<%= @scope %>'});
  });
  $(".startbutton").hover(
    function () {
      $('.hands').addClass("hands_move");
    },
    function () {
      $('.hands').removeClass("hands_move");
    }
  );
});
</script>
<div id="wrapper" class="start">
	<div id="top_bar"><img src="assets/fb_app_sony_codes/top_bar.jpg" alt="Playstation - Vive en estado play" /></div>
  <div class="start_content">
	  <h1>Titulo</h1>
    <h2>En el día del niño, celebramos todos los que vivimos en estado Play. 
Descifra el código de seguridad para desactivar los láser y </h2>
    <h3>gana una PlayStation 3 al instante. </h3>
    <a href="#" class="startbutton">Start</a>
    <span class="start_load"></span>
	</div>
  <div id="footer">
  	<a href="/documents/fb_app_sony_codes.pdf" class="ver_bases" target="_blank">Ver las bases</a>
    <%= link_to "Comparte", "#" , :class => "facebook sharefb" %>
  </div>
  <div class="hands"></div>
</div>