<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $(".botonparticipa").click(function(){
      FB.login(function(response){
        if (response.authResponse){
          location.href = '<%= fb_app_sony_codes_formulario_path %>';
        }
      },{scope:'<%= @scope %>'});
    });
});
</script>
<div id="home">
  <a href="#" class="botonparticipa">Participa</a>
  <a href="/documents/fb_app_sony_codes.pdf" class="bases" target="_blank">Bases</a>
</div>