<div id="wrapper" class="nofan">
	<div id="top_bar"><img src="assets/fb_app_sony_codes/top_bar.jpg" alt="Playstation - Vive en estado play" /></div>
  <div class="nofan_content">
  	<h1>Code Logo</h1>
    <h2>¿Quieres ganar un PlayStation 3?</h2>
    <h3>Hazte fan de Sony y participa por una de las 10 PS3.</h3>
    <div class="boton_fan">
      <div class="btn_facebook"><fb:like href="https://www.facebook.com/SonyChile" send="false" layout="button_count" width="450" show_faces="false"></fb:like></div>
    </div>
	</div>
</div>