<div id="nofan">
  <a href="/documents/fb_app_sony_codes.pdf" class="bases" target="_blank">Bases</a>
  <div class="fb-like" height="50" data-href="http://www.facebook.com/hmgdev" data-send="false" data-layout="button_count" data-width="40" data-show-faces="false"></div>
</div>