<div id="ups">
  GANO
  <%= link_to "Invitar Amigos", "#", :id => 'invitar2' , :class => 'invitar2 invitar' %>
  <%= link_to "Compartir", "#", :id => 'compartir2' , :class => 'compartir2 sharefb' %>
  <a href="/documents/fb_app_sony_codes.pdf" class="bases" target="_blank">Bases</a>
</div>
