<% content_for :body_classes, 'nofan' %>
<div class="header"><p>
  Para participar debes hacer click en el botón  <span>Me Gusta</span></p>
</div>
<div class="contenedor">
  <p>Coleman Adventure Camp es un evento deportivo recreativo orientado a la familia, donde se enmarcan diferentes actividades recreativas y deportivas en diferentes horarios y para todas las edades.</p>
  <%=image_tag("fb_app_coleman_aventure_camp/lampara.png")%>
</div>