<% content_for :body_classes, 'inicio' %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $(".participar").click(function(){
      FB.login(function(response){
        if (response.authResponse){
          location.href = '<%= fb_app_hyundai_aliento_formulario_path %>';
        }
      },{scope:'<%= @scope %>'});
    });
});
</script>
<div>
<a href="#" class="participar"></a>
</div>