<% content_for :body_classes, 'gracias' %>
<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<div class="finales">
  <a href="#" id="compartir" class="sharefb"></a>
  <a href="#" id="compartir2" class="invitar"></a>
</div>