<% content_for :body_classes, 'instructions' %>
<div id="header">
    <ul class="menu">
    <li><a href="<%= fb_app_sernatur_capture_path %>">Home</a></li>
    <li><a href="<%= fb_app_sernatur_capture_instructions_path %>">Instructions</a></li>
     <li><a href="<%= fb_app_sernatur_capture_prize_path %>">Prize</a></li>
    <li><a href="/documents/fb_app_sernatur_capture.pdf" target="_blank">Terms</a></li>
    </ul>
</div>

<a href="<%= fb_app_sernatur_capture_prize_path %>" id="btn_instructions_next"></a>