<script type="text/javascript">
  $(document).ready(function(){
    $('.instructions').click( function (){
      $('.instrucciones').fadeIn('fast');
    });
    
    $('.cerrar').click( function (){
      $('.instrucciones').fadeOut('fast');
    });
    
    $('.boton_est').click( function(){
      $('.boton_est').removeClass('boton_ON');
      $(this).toggleClass('boton_ON');
      var checked = $(this).attr("rel");
      $("#estrategia").val(checked);
    });

    $("#btn_enviar").click(function(){
      if ( $("#estrategia").val() == "" ) {
        alert("seleccione una opcion");
      }else{
        $("#registro").submit();
      }
    });
  });
</script>
    <div class="background estrategia">
      <div class="left defensa">
        <div class="d_451 boton_est" rel="defensa1"></div>
        <div class="d_352 boton_est" rel="defensa2"></div>
        <div class="d_343 boton_est" rel="defensa3"></div>
      </div>
      <div class="right ataque">
        <div class="a_433 boton_est" rel="ataque1"></div>
        <div class="a_235 boton_est" rel="ataque2"></div>
        <div class="a_325 boton_est" rel="ataque3"></div>
      </div>
      <%= link_to "Enviar estrategia", "#", :id => 'btn_enviar', :class => 'enviar_estraegia'  %>
      <a href="#" class="instructions">Instrucciones</a>
    </div>
    <div class="instrucciones">
      <span class="img" style="background-image:url(../assets/fb_app_hyundai_mundial/instrucciones_1.png); background-repeat:no-repeat;"></span>
      <span class="cerrar">X</span>
    </div>
    <%= form_tag(fb_app_hyundai_mundial_redirect_estrategias_path,:id=>:registro, :method => "post") do  %>
      <%= hidden_field_tag 'estrategia' %>
    <% end %>