<script type="text/javascript" charset="utf-8">
  $(window).load(function(){
    $("#fb_app_login").click(function(){
      FB.login(function(response){
        if (response.authResponse){
          location.href = '<%= fb_app_hyundai_mundial_concurso_path %>';
        }
      },{scope:'<%= @scope %>'});
    });
  });
</script>
  <div class="background home">
    <%= link_to "participa", fb_app_hyundai_mundial_concurso_path, :id => :fb_app_login, :href => '#', :class => "participar" %>
  </div>