<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<div class="background final">
	<div class="resultado"><%= @puntaje %>%</div>
	<a href="http://www.facebook.com/HyundaiChile/app_165652186949414" class="volver_jugar" target ="_top">Volver a Jugar</a>
	 <a href="#" class="invitar_amigos invitar">Invitar amigos</a>
	<a href="#" class="compartir sharefb">Compartir</a> 
</div>