<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<div class="background final">
	<div class="resultado"><%= @puntaje %>%</div>
	<a href="#" class="volver_jugar">Volver a Jugar</a>
	<a href="#" class="invitar_amigos">Invitar amigos</a>
	<a href="#" class="compartir">Compartir</a> 
</div>