<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<a title="Enlace a invitar amigos" href="#" class="amigos invitar">Invitar</a>
<a title="Enlace a invitar amigos" href="#" class="compartir sharefb">Compartir</a>