<div class="gracias">
  <div class="fin">
    <div class="content_fin">
      <p class="participar extramarbot">GRACIAS POR PARTICIPAR</p>
      <p><strong>&iquest;Te quedaste sin Cr&eacute;ditos?</strong></p>
      <p>Invita a tus amigos  o comparte en tu muro para seguir participando</p>
      <ul>
        <li><a href="#" class="btn_compartir invitar"></a></li>
        <li><a href="#" class="btn_amigo sharefb"></a></li>
      </ul>
    </div>
  </div>
  <%=image_tag("fb_app_brilliance_euforia/auto.png",:class=>"auto")%>
  <%=image_tag("fb_app_brilliance_euforia/carta.png",:class=>"carta")%>
</div>