<% content_for :body_classes, 'inicio' %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("#fb_app_login").click(function(){
      FB.login(function(response){
        if (response.authResponse){
          location.href = '<%= fb_app_snickers_redhot_concurso_path %>';
        }
      },{scope:'<%= @scope %>'});
    });
  });
</script>
<div class="content">
    <center>
      <a class="button_position" id="fb_app_login" href="#">
        <%=image_tag("fb_app_snickers_redhot/participa.png", alt: "Participa")%>
      </a> 	
    </center>
</div>