- content_for(:body_classes, "inicio")
<script type="text/javascript" charset="utf-8">
  $(window).load(function(){
    $("#fb_app_login").click(function(){
      FB.login(function(response){
        if (response.authResponse){
          location.href = '<%= fb_app_sernatur_capture_concurso_path %>';
        }
      },{scope:'<%= @scope %>'});
    });
  });
</script>
<div class="content">
    <center>
      <a class="button_position" id=":fb_app_login" href="fb_app_sernatur_capture_concurso"><img src="img/participa.png" alt="Participa"></a> 	
    </center>
</div>