<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<div id="millon">
  <%= link_to "", "#", :id => 'invitar2' , :class => 'invitar2 invitar' %>
  <%= link_to "", "#", :id => 'compartir2' , :class => 'compartir2 sharefb' %>
  <a href="/documents/fb_app_mm_wanted.pdf" class="bases" target="_blank">Bases</a>
</div>