<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $(".bt_red_icon").click(function(){
      FB.login(function(response){
        if (response.authResponse){
          location.href = '<%= fb_app_claro_monster_formulario_path %>';
        }
      },{scope:'<%= @scope %>',display: 'popup'});
    });
});
</script>
<div id="content">
    <div id="heading">
        <div class="copybook"></div>
        <h1>¡CELEBREMOS TODOS EL DÍA DEL NIÑO!</h1>
        <p>vuelve a ser un niño y pon tu mejor cara de susto y participa por un kit de monsters university</p>
    </div>
    <div style="margin-left: 41px; margin-top: 25px;" class="tv"></div>
        <object class="nicole" width="355" height="262">

            <param name="movie" value="//www.youtube.com/v/DHE8IE2Gu8Y?hl=es_MX&amp;version=3&amp;rel=0&autoplay=1"></param>
            <param name="allowFullScreen" value="true"></param>
            <param name="autoplay" value="true"></param>
            <param name="allowscriptaccess" value="always"></param>
            <param name="wmode" value="opaque" />
            <embed src="//www.youtube.com/v/DHE8IE2Gu8Y?hl=es_MX&amp;version=3&amp;rel=0&autoplay=1" type="application/x-shockwave-flash" width="355" height="262" allowscriptaccess="always" allowfullscreen="true" wmode="opaque"></embed>
        </object>
    <div class="kit_small_box"></div>
    <a style="background-position: -882px -582px; position: absolute; bottom: 13px; right: 12px;" class="bt_red_icon" href="#">PARTICIPA</a>

</div>