<div id="content">
    <div id="heading">
        <div class="copybook"></div>
        <h1>¡CELEBREMOS TODOS EL DÍA DEL NIÑO!</h1>
        <p>HAZ CLICK EN ME GUSTA Y PARTICIPA POR UN KIT DE MONSTERS UNIVERSITY</p>
    </div>
	<div class="tv" style="margin-left: 41px; margin-top: 25px;"></div>
	<div class="kit_small_box"></div>
</div>