<div id="content">
    <div id="heading">
        <div class="copybook"></div>
        <h1>¡CELEBREMOS TODOS EL DÍA DEL NIÑO!</h1>
        <p>HAZ CLICK EN ME GUSTA Y PARTICIPA POR UN KIT DE MONSTERS UNIVERSITY</p>
    </div>
	<div class="tv" style="margin-left: 41px; margin-top: 25px;"></div>
        <object class="nicole" width="355" height="262">

            <param name="movie" value="//www.youtube.com/v/DHE8IE2Gu8Y?hl=es_MX&amp;version=3&amp;rel=0&autoplay=1"></param>
            <param name="allowFullScreen" value="true"></param>
            <param name="autoplay" value="true"></param>
            <param name="allowscriptaccess" value="always"></param>
            <param name="wmode" value="opaque" />
            <embed src="//www.youtube.com/v/DHE8IE2Gu8Y?hl=es_MX&amp;version=3&amp;rel=0&autoplay=1" type="application/x-shockwave-flash" width="355" height="262" allowscriptaccess="always" allowfullscreen="true" wmode="opaque"></embed>
        </object>
	<div class="kit_small_box"></div>
</div>