<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
    <div id="content">
        <div id="heading">
            <div class="copybook"></div>
            <h1 style="position: relative; left: 81px; font-size: 45px; margin-bottom: 4px;">¡FELICITACIONES!</h1>
            <p>ya eres parte de los asustadores profesionales y estás participando por el kit monsters university</p>
        </div>
        <div class="big_box"></div>
        <a style="position: absolute; bottom: 63px; left: 207px;" class="bt_red invitar" href="#">INVITAR AMIGOS</a>
        <a style="position: absolute; bottom: 63px; right: 169px;" class="bt_red sharefb" href="#">COMPARTIR EN EL MURO</a>
    </div>