<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $(".various").fancybox({
    fitToView : false,
    width   : 577,
    height    : 334,
    autoSize  : false,
    closeClick  : false,
    openEffect  : 'none',
    closeEffect : 'none'
  });
});
</script>

<div class="wrapper inicio">
  <div class='content'>
    <center>
  	  <a href="/documents/video_paco_rabanne.html" class="click_video various" data-fancybox-type="iframe"></a>
  	  
      <%= link_to "Participar", fb_app_paco_rabanne_concurso_path, :id => :fb_app_login, :class => "button_go button_position" %>
 	    <!--a class="button_go button_position" href="registro.html">Participar</a-->
    </center>
  </div>
</div>