<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $(".sharefb").click(function(){
      FB.ui({
          method: 'feed',
          name: 'Paco Rabanne',
          link: '',
          picture: 'http://wolly.herokuapp.com/images/<%= controller_path %>/75x75.jpeg',
          caption: 'caption',
          description: 'description'
        },
        function(response) {
        
        });
      return false;
    });
    $(".invitar").click(function(){
      FB.ui({ method: 'apprequests',
            message: 'message',
            filters: ['app_non_users'],
            title: 'Invitación',
      max_recipients: '50'
      });
    });
  });
</script>

<div class="wrapper exito">
  <div class='content'>
    <center>
      <div class="social_share">
        <%= link_to "", "#", :class => 'compartir sharefb' %>
        <%= link_to "", "#", :class => 'invitar' %>
      </div>  
    </center>
  </div>
</div>