<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $(".participa").click(function(){
      FB.login(function(response){
        if (response.authResponse){
          location.href = '<%= fb_app_brother_combo_formulario_path %>';
        }
      },{scope:'<%= @scope %>',display: 'popup'});
    });
});
</script>
<div class="wrap home">
  <a title="Enlace a home" href="index.html" class="inicio"></a>
  <a title="Enlace a bases legales" href="#" class="bases">Bases legales</a>
  <a title="Enlace a bases legales" href="#" class="participa"></a>
</div>