<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<div class="wrap exito">
	<a title="Enlace a home" href="index.html" class="inicio"></a>
	<a title="Enlace a bases legales" href="#" class="bases">Bases legales</a>
    <a title="Enlace a invitar amigos" href="#" class="amigos invitar"></a>
    <a title="Enlace a invitar amigos" href="#" class="compartir sharefb"></a>
</div>