<script type="text/javascript" charset="utf-8">
  $(window).load(function(){
    $("#fb_app_login").click(function(){
      FB.login(function(response){
        if (response.authResponse){
          location.href = '<%= fb_app_mahindra_xuv_concurso_path %>';
        }
      },{scope:'<%= @scope %>'});
    });
  });
</script>
<h1>Mahindra | Index</h1>
<%= link_to "PARTICIPAR", fb_app_mahindra_xuv_concurso_path, :id => :fb_app_login, :href => '#' %>