body {
	padding: 0px;
	margin: 0px;
	color: #000;
	background-color: #fff;
}

#contenido {
	width: 100%;
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
  display: none !important;
}