html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******** Main Styles
*********************************/

body {font-size: 1.0em; margin: 0; padding: 0; width: 810px; height: 650px; position: relative; top:0px; left:0px; background-image:url(fb_app_hyundai_mundial/bg_main.jpg); background-repeat:no-repeat; font-family: 'Ubuntu Condensed', sans-serif;}
a, input[type="submit"]{-webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -ms-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease;}
a img { border:0px;}

#main_nav { position:absolute; top:8px; right:53px; z-index:5}
#main_nav li { float:left;}
#main_nav p { color:#FFF; padding-top:5px; float:left; text-decoration:none;}
#main_nav a{ color:#FFF; padding:5px 12px; float:left; text-decoration:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
#main_nav a:hover { background-color:#dbdbdb; color:#104677; }

.background { position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:1}

/* Participa */

.home { background-image:url(fb_app_hyundai_mundial/back_home.png); width:100%; height:100%; z-index:2; position:relative}
.home .participar { width:252px; height:76px; display:block; position:absolute; top:405px; left:252px; background-image:url(fb_app_hyundai_mundial/participa.png); text-indent:-9999px;}
.home .participar:hover { background-image:url(fb_app_hyundai_mundial/participa_ON.png)}

/* Forms Registro */

.form { background-image: url(fb_app_hyundai_mundial/back_registro.png); width:100%; height:100%; z-index:2; position:relative}
.form input[type="text"]{ position:absolute; left: 233px; width: 342px; height: 27px; border:0px; background-color:transparent}
.form #nombre{ top:189px; }
.form #rut{ top:228px;}
.form #correo{top:268px;}
.form #direccion{top:306px;}
.form #telefono{top:345px;}

.form #checkbox { position:absolute; top: 396px; left: 163px;}
.form #enviar { position:absolute; top:396px; left:444px; background-color:transparent; border:0px; background-image:url(fb_app_hyundai_mundial/enviar.png); width:143px; height:61px; text-indent:-9999px; cursor:pointer; }
.form #enviar:hover { background-image:url(fb_app_hyundai_mundial/enviar_ON.png)}


/* Estrategia */

.estrategia { background-image:url(fb_app_hyundai_mundial/back_estrategia.png); width:100%; height:100%; z-index:2; position:relative}
.estrategia .defensa{ position:absolute; top:187px; left:157px; width:234px; height:351px; }
.estrategia .ataque{ position:absolute; top:187px; left:422px; width:234px; height:351px;}

.estrategia .defensa div, .estrategia .ataque div { display:block; width:100%; height:86px; position:absolute; cursor:pointer;}

.estrategia .defensa div:hover, .estrategia .ataque div:hover, .boton_ON{ background-image:url(fb_app_hyundai_mundial/estrategia_seleccion.png); background-repeat:no-repeat; background-position: 8px 0px;}

.estrategia .defensa div.d_451 { top:58px;}
.estrategia .defensa div.d_352 { top:150px;}
.estrategia .defensa div.d_343 { top:246px;}
.estrategia .ataque div.a_433 { top:60px}
.estrategia .ataque div.a_235 { top:152px;}
.estrategia .ataque div.a_325 { top:246px;}

.estrategia .enviar_estraegia { position:absolute; width:263px; height:61px; display:block; top:548px; left:282px; background-image:url(fb_app_hyundai_mundial/send_strat.png); text-indent:-9999px;}
.estrategia .enviar_estraegia:hover { background-image:url(fb_app_hyundai_mundial/send_strat_ON.png)}
.estrategia .instructions{ position:absolute; bottom:0px; left:0px; width:134px; height:24px; text-indent:-9999px; background-image:url(fb_app_hyundai_mundial/instrucciones_btn.png)}
.estrategia .instructions:hover { background-image:url(fb_app_hyundai_mundial/instrucciones_btn_ON.png);}

.instrucciones { position:absolute; top:0px; left:0px; width:100%; height:100%; background-image:url(fb_app_hyundai_mundial/bg_alpha.png); z-index:12}
.instrucciones .img { position:absolute; top:103px; left:131px; z-index:13; width:564px; height:425px;}
.instrucciones .img img{ position:absolute; top:0px; left:0px; z-index:5}
.instrucciones .cerrar { position:absolute; width:50px; height:50px; top:106px; left:641px; cursor:pointer; text-indent:-9999px; z-index:20} 

/* Selección Autos */

.seleccion_autos {background-image:url(fb_app_hyundai_mundial/back_seleccion_433.png); width:100%; height:100%; z-index:2; position:relative}



