html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow:hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******** Main Styles
*********************************/

body {font-size: 1.0em; margin: 0; padding: 0; width: 810px; height: 650px; position: relative; top:0px; left:0px; background-image:url(fb_app_hyundai_mundial/bg_main.jpg); background-repeat:no-repeat; font-family: 'Ubuntu Condensed', sans-serif;}
a, input[type="submit"]{-webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -ms-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease;}
a img { border:0px;}

#main_nav { position:absolute; top:8px; right:53px; z-index:5}
#main_nav li { float:left;}
#main_nav p { color:#FFF; padding-top:5px; float:left; text-decoration:none;}
#main_nav a{ color:#FFF; padding:5px 12px; float:left; text-decoration:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
#main_nav a:hover { background-color:#dbdbdb; color:#104677; }

.background { position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:1}

/* Participa */

.home { background-image:url(fb_app_hyundai_mundial/back_home.png); width:100%; height:100%; z-index:2; position:relative}
.home .participar { width:252px; height:76px; display:block; position:absolute; top:405px; left:252px; background-image:url(fb_app_hyundai_mundial/participa.png); text-indent:-9999px;}
.home .participar:hover { background-image:url(fb_app_hyundai_mundial/participa_ON.png)}

/* Forms Registro */

.form { background-image: url(fb_app_hyundai_mundial/back_registro.png); width:100%; height:100%; z-index:2; position:relative}
.form input[type="text"]{ position:absolute; left: 233px; width: 342px; height: 27px; border:0px; background-color:transparent}
.form #nombre{ top:189px; }
.form #rut{ top:228px;}
.form #correo{top:268px;}
.form #direccion{top:306px;}
.form #telefono{top:345px;}

.form #checkbox { position:absolute; top: 396px; left: 163px;}
.form #enviar { position:absolute; top:396px; left:444px; background-color:transparent; border:0px; background-image:url(fb_app_hyundai_mundial/enviar.png); width:143px; height:61px; text-indent:-9999px; cursor:pointer; }
.form #enviar:hover { background-image:url(fb_app_hyundai_mundial/enviar_ON.png)}


/* Estrategia */

.estrategia { background-image:url(fb_app_hyundai_mundial/back_estrategia.png); width:100%; height:100%; z-index:2; position:relative}
.estrategia .defensa{ position:absolute; top:187px; left:157px; width:234px; height:351px; }
.estrategia .ataque{ position:absolute; top:187px; left:422px; width:234px; height:351px;}

.estrategia .defensa div, .estrategia .ataque div { display:block; width:100%; height:86px; position:absolute; cursor:pointer;}

.estrategia .defensa div:hover, .estrategia .ataque div:hover, .boton_ON{ background-image:url(fb_app_hyundai_mundial/estrategia_seleccion.png); background-repeat:no-repeat; background-position: 8px 0px;}

.estrategia .defensa div.d_451 { top:58px;}
.estrategia .defensa div.d_352 { top:150px;}
.estrategia .defensa div.d_343 { top:246px;}
.estrategia .ataque div.a_433 { top:60px}
.estrategia .ataque div.a_235 { top:152px;}
.estrategia .ataque div.a_325 { top:246px;}

.estrategia .enviar_estraegia { position:absolute; width:263px; height:61px; display:block; top:548px; left:282px; background-image:url(fb_app_hyundai_mundial/send_strat.png); text-indent:-9999px;}
.estrategia .enviar_estraegia:hover { background-image:url(fb_app_hyundai_mundial/send_strat_ON.png)}

.instrucciones { position:absolute; top:0px; left:0px; width:100%; height:100%; background-image:url(fb_app_hyundai_mundial/bg_alpha.png); z-index:12}
.instrucciones .img { position:absolute; top:103px; left:131px; z-index:13; width:564px; height:425px;}
.instrucciones .img img{ position:absolute; top:0px; left:0px; z-index:5}
.instrucciones .cerrar { position:absolute; width:50px; height:50px; top:106px; left:641px; cursor:pointer; text-indent:-9999px; z-index:20} 

/* Selección Autos */

.seleccion_autos {background-image:url(fb_app_hyundai_mundial/back_seleccion.png); width:100%; height:100%; z-index:2; position:relative}

.seleccion_autos .autos_top { position:absolute; top:204px; left:45px; width:727px; height:81px;}
.autos_top .top_1, .autos_top .top_2, .autos_top .top_3, .autos_top .top_4, .autos_top .top_5 { float:left; margin-right:12px; position:relative; width:134px; height:78px;}

.car_desc { display:none;}
.autos_top .car_desc { position:absolute; top:-145px; left:-48px; z-index:5}
.autos_top .top_1 .car_desc{ left:-38px}
.autos_top .top_5 .car_desc{ left:-52px}

.seleccion_autos .posiciones { position:absolute; top:304px; left:0px; width:810px; height:346px;}


.continuar { background-image:url(fb_app_hyundai_mundial/continuar.png); width:204px; height:51px; position:absolute; top:115px; right:0px; text-indent:-9999px; z-index:2}
.continuar:hover { background-image:url(fb_app_hyundai_mundial/continuar_ON.png)}

.instructions{ position:absolute; bottom:0px; left:0px; width:134px; height:24px; text-indent:-9999px; background-image:url(fb_app_hyundai_mundial/instrucciones_btn.png)}
.instructions:hover { background-image:url(fb_app_hyundai_mundial/instrucciones_btn_ON.png);}

.limpiar {position: absolute; right: 3px; top: 307px; background-image:url(fb_app_hyundai_mundial/nueva_formacion.png); width:151px; height:23px; text-indent:-9999px;}
.limpiar:hover { background-image:url(fb_app_hyundai_mundial/nueva_formacion_ON.png)}

.facebook_friend { width:39px; height:39px; position:absolute; top:0px; right:-58px; background-image:url(fb_app_hyundai_mundial/invitar.png); padding:4px 7px; background-repeat:no-repeat; display:none}


.car_accent, .car_elantra, .car_veloster, .car_i30 , .car_elantrac, .car_azera, .car_genesis, .car_genesis_c, .car_santafe, .car_tucson { cursor:pointer}

/* Ataque */

.posiciones .car_accent { background-image:url(fb_app_hyundai_mundial/front_accent.png);background-position:center center; background-repeat:no-repeat;}
.posiciones .car_elantra { background-image:url(fb_app_hyundai_mundial/front_elantra.png); background-position:center center; background-repeat:no-repeat;}
.posiciones .car_veloster { background-image:url(fb_app_hyundai_mundial/front_veloster.png); background-position:center center; background-repeat:no-repeat;}
.posiciones .car_i30 { background-image:url(fb_app_hyundai_mundial/front_i30.png);  background-position:center center; background-repeat:no-repeat;}
.posiciones .car_elantrac { background-image:url(fb_app_hyundai_mundial/front_elantra_c.png); background-position:center center; background-repeat:no-repeat;}
.posiciones .box { width:65px; height:58px; position:absolute; }

.mod_a_325 .posiciones{ background-image:url(fb_app_hyundai_mundial/back_325.png); background-repeat:no-repeat;}
.mod_a_325 .posiciones .auto1{ top:257px; left:87px;}
.mod_a_325 .posiciones .auto2{ top:208px; left:221px;}
.mod_a_325 .posiciones .auto3{ top:208px; left:531px;}
.mod_a_325 .posiciones .auto4{ top:257px; left:654px;}

.mod_a_235 .posiciones{ background-image:url(fb_app_hyundai_mundial/back_235.png); background-repeat:no-repeat;}
.mod_a_235 .posiciones .auto1{ top:263px; left:87px;}
.mod_a_235 .posiciones .auto2{ top:202px; left:221px;}
.mod_a_235 .posiciones .auto3{ top:202px; left:541px;}
.mod_a_235 .posiciones .auto4{ top:263px; left:654px;}

.mod_a_433 .posiciones{ background-image:url(fb_app_hyundai_mundial/back_433.png); background-repeat:no-repeat;}
.mod_a_433 .posiciones .auto1{ top:142px; left:381px;}
.mod_a_433 .posiciones .auto2{ top:255px; left:230px;}
.mod_a_433 .posiciones .auto3{ top:255px; left:381px;}
.mod_a_433 .posiciones .auto4{ top:257px; left:534px;}




/* Defensa */

.car_azera, .car_genesis, .car_genesis_c, .car_santafe, .car_tucson

.posiciones .car_azera{background-image:url(fb_app_hyundai_mundial/front_azera.png);background-position:center center; background-repeat:no-repeat;}
.posiciones .car_genesis{background-image:url(fb_app_hyundai_mundial/front_genesis.png);background-position:center center; background-repeat:no-repeat;}
.posiciones .car_genesis_c{background-image:url(fb_app_hyundai_mundial/front_genesis_coupe.png);background-position:center center; background-repeat:no-repeat;}
.posiciones .car_santafe{background-image:url(fb_app_hyundai_mundial/front_santafe.png);background-position:center center; background-repeat:no-repeat;}
.posiciones .car_tucson{background-image:url(fb_app_hyundai_mundial/front_tucson.png);background-position:center center; background-repeat:no-repeat;}

.mod_d_343 .posiciones{ background-image:url(fb_app_hyundai_mundial/back_343.png); background-repeat:no-repeat;}
.mod_d_343 .posiciones .auto1{ top:57px; left:266px;}
.mod_d_343 .posiciones .auto2{ top:31px; left:378px;}
.mod_d_343 .posiciones .auto3{ top:93px; left:378px;}
.mod_d_343 .posiciones .auto4{ top:55px; left:497px;}

.mod_d_352 .posiciones{ background-image:url(fb_app_hyundai_mundial/back_352.png); background-repeat:no-repeat;}
.mod_d_352 .posiciones .auto1{ top:51px; left:276px;}
.mod_d_352 .posiciones .auto2{ top:29px; left:381px;}
.mod_d_352 .posiciones .auto3{ top:110px; left:382px;}
.mod_d_352 .posiciones .auto4{ top:51px; left:484px;}

.mod_d_451 .posiciones{ background-image:url(fb_app_hyundai_mundial/back_451.png); background-repeat:no-repeat;}
.mod_d_451 .posiciones .auto1{ top:58px; left:188px;}
.mod_d_451 .posiciones .auto2{ top:19px; left:319px;}
.mod_d_451 .posiciones .auto3{ top:19px; left:442px;}
.mod_d_451 .posiciones .auto4{ top:46px; left:561px;}


/* Plantila de Exito */

.final { background-image:url(fb_app_hyundai_mundial/back_final.png); width:100%; height:100%; z-index:2; position:relative}
.final a { display:block; position:absolute; width:206px; height:33px; top:568px; text-indent:-9999px;}
.final .volver_jugar { background-image:url(fb_app_hyundai_mundial/volver_jugar_btn.png); left:50px;}
.final .volver_jugar:hover { background-image:url(fb_app_hyundai_mundial/volver_jugar_btnON.png);}
.final .invitar_amigos { background-image:url(fb_app_hyundai_mundial/invitar_btn.png); left:306px;}
.final .invitar_amigos:hover { background-image:url(fb_app_hyundai_mundial/invitar_btnON.png)}
.final .compartir { background-image:url(fb_app_hyundai_mundial/compartir_btn.png); left:530px;}
.final .compartir:hover { background-image:url(fb_app_hyundai_mundial/compartir_btnON.png)}

.final .resultado { 
position: absolute; left: 308px; width: 200px; top: 495px; font-family: 'Open Sans', sans-serif; font-size: 48px; font-style: italic; text-align: center; color:#FFF; text-shadow: 3px 1px 12px rgba(0, 0, 0, 1);}

.nofan { background-image:url(fb_app_hyundai_mundial/nofan.jpg); width:100%; height:100%; z-index:2; position:relative}