@charset "utf-8";

/* CSS Document */

@font-face {
  font-family: 'DINCond-Black';
  src: url('../fonts/dincondblack.eot');
  src: url('../fonts/dincondblack.eot?#iefix') format("embedded-opentype"), url('dincondblack.woff') format("woff"), url('dincondblack.ttf') format("truetype"), url('dincondblack.svg#dincondblack') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DIN-RegularAlternate';
  src: url('../fonts/dinra.eot');
  src: url('../fonts/dinra.eot?#iefix') format("embedded-opentype"), url('dinra.woff') format("woff"), url('dinra.ttf') format("truetype"), url('dinra.svg#dinra') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DIN-Regular';
  src: url('../fonts/dinr.eot');
  src: url('../fonts/dinr.eot?#iefix') format("embedded-opentype"), url('dinr.woff') format("woff"), url('dinr.ttf') format("truetype"), url('dinr.svg#dinr') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DIN-Medium';
  src: url('assets/dinm.eot');
  src: url('assets/dinm.eot?#iefix') format("embedded-opentype"), url('dinm.woff') format("woff"), url('dinm.ttf') format("truetype"), url('dinm.svg#dinm') format("svg");
  font-weight: normal;
  font-style: normal;
}


html, body, nav, div, a, p, img, ul, li, footer, header, section, h1, span, time, hgroup, a img, aside, form, input, article, h2, h3, h4, label, textarea, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

h2 {
  border-radius: 5px;
  font-family: DIN-Medium;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: -1px;
  text-decoration: none;
  background: url(fb_app_claro_ganate_la_parabolica/bg_btn_a.png) 0 0 no-repeat;
  padding: 10px;
  width: 125px;
  height: 24px;
  &:active {
    border-radius: 5px;
    font-family: DIN-Medium;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: -1px;
    text-decoration: none;
    background: url(fb_app_claro_ganate_la_parabolica/bg_btn_b.png) 0 0 no-repeat;
    padding: 10px;
    width: 125px;
    height: 24px;
  }
  a {
    color: #FFF;
    &:hover {
      color: #DADADA;
    }
    &:visited {
      color: #FFF;
    }
  }
}

h3 {
  font-family: DIN-Medium;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: -1px;
  text-decoration: none;
  background: url(fb_app_claro_ganate_la_parabolica/bg_btn_a.png) 0 0 no-repeat;
  padding: 11px 0 0 6px;
  width: 145px;
  height: 44px;
  &:active {
    font-family: DIN-Medium;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: -1px;
    text-decoration: none;
    background: url(fb_app_claro_ganate_la_parabolica/bg_btn_b.png) 0 0 no-repeat;
    padding: 11px 0 0 6px;
    width: 145px;
    height: 44px;
  }
  a {
    color: #FFF;
    &:hover {
      color: #DADADA;
    }
    &:visited {
      color: #FFF;
    }
  }
}

/*BACKGROUNDS*/

#nofan {
  background: url(fb_app_claro_ganate_la_parabolica/bg_nofan.jpg) no-repeat;
  width: 810px;
  height: 650px;
}

#home {
  background: url(fb_app_claro_ganate_la_parabolica/bg_home.jpg) no-repeat;
  width: 810px;
  height: 650px;
}

#registro {
  background: url(fb_app_claro_ganate_la_parabolica/bg_registro.jpg) no-repeat;
  width: 810px;
  height: 650px;
}

#pregunta {
  background: url(fb_app_claro_ganate_la_parabolica/bg_pregunta.jpg) no-repeat;
  width: 810px;
  height: 650px;
}

#vota {
  background: url(fb_app_claro_ganate_la_parabolica/bg_vota.jpg) no-repeat;
  width: 810px;
  height: 650px;
}

#felicitaciones {
  background: url(fb_app_claro_ganate_la_parabolica/bg_felicitaciones.jpg) no-repeat;
  width: 810px;
  height: 650px;
}

#rank {
  background: url(fb_app_claro_ganate_la_parabolica/bg_rank.jpg) no-repeat;
  width: 810px;
  height: 650px;
}

#premios {
  background: url(fb_app_claro_ganate_la_parabolica/bg_premios.jpg) no-repeat;
  width: 810px;
  height: 650px;
}

#laparabolica {
  background: url(fb_app_claro_ganate_la_parabolica/bg_laparabolica.jpg) no-repeat;
  width: 810px;
  height: 650px;
}

/*MENU*/

#menu {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: auto;
    position: relative;
    display: block;
    height: 35px;
    text-transform: uppercase;
    font-size: 13px;
    background: #333;
    font-family: 'DIN-RegularAlternate';
    float: right;
    margin-right: 13px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.71);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.71);
  }
  li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    a {
      display: block;
      float: left;
      color: #FFF;
      text-decoration: none;
      padding: 9px 10px 0 10px;
      height: 26px;
      &:hover {
        background: #de0209;
        -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
        box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
      }
    }
  }
}

.active {
  background: #de0209;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
}

/*NO FAN*/

.nofan_video {
  padding-top: 246px;
  padding-right: 156px;
  padding-bottom: 111px;
  padding-left: 134px;
}

/*HOME*/

.home_video {
  left: 40px;
  top: 290px;
  position: absolute;
}

.home_btn {
  position: absolute;
  top: 512px;
  left: 612px;
}

/*RANKING*/

.rank_table {
  font-family: DIN-RegularAlternate;
  position: absolute;
  top: 253px;
  left: 20px;
  width: 270px;
  background-color: #FFF;
  line-height: 14px;
  font-size: 0.9em;
  color: #333;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(46, 46, 46, 0.51);
  -moz-box-shadow: 0px 0px 6px 0px rgba(46, 46, 46, 0.51);
  box-shadow: 0px 0px 6px 0px rgba(46, 46, 46, 0.51);
  td {
    padding: 5px;
    border-top: 1px solid #DDD;
    > strong {
      padding-left: 8px;
    }
  }
}

.rank_first {
  background-color: #DE0209;
  color: #FFF;
}

.rank_btn_a {
  position: absolute;
  top: 584px;
  left: 374px;
}

.rank_btn_b {
  position: absolute;
  top: 584px;
  left: 549px;
}

.rank_video {
  position: absolute;
  top: 287px;
  left: 321px;
}

/*REGISTRO*/

.reg_form {
  position: absolute;
  top: 271px;
  left: 324px;
  font-family: DIN-RegularAlternate;
  text-transform: uppercase;
  font-size: 0.75em;
  color: #333;
  td {
    padding-right: 40px;
  }
  input {
    border: 1px solid rgba(51, 51, 51, 0.16);
    border-radius: 5px;
    width: 270px;
    padding: 10px;
  }
  span {
    display: none;
    position: absolute;
    z-index: 30;
    margin: -26px 0 0 262px;
    background-color: #DE0209;
    font-weight: bolder;
    font-size: 11px;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 17px;
    color: #FFF;
  }
}

.reg_btn {
  position: absolute;
  top: 223px;
  left: 251px;
}

/*PREGUNTA*/

.preg_video {
  position: absolute;
  top: 253px;
  left: 42px;
}

.preg_select {
  position: absolute;
  top: 383px;
  left: 498px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  width: 271px;
  padding: 10px;
  color: #333;
  font-family: DIN-RegularAlternate;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1px;
}

.preg_btn {
  position: absolute;
  top: 468px;
  left: 563px;
}

/*VOTA*/

.vota_table {
  font-family: DIN-RegularAlternate;
  font-size: 0.9em;
  color: #333;
  position: absolute;
  top: 236px;
  left: 249px;
  width: 335px;
  background-color: #FFF;
  line-height: 14px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(46, 46, 46, 0.51);
  -moz-box-shadow: 0px 0px 6px 0px rgba(46, 46, 46, 0.51);
  box-shadow: 0px 0px 6px 0px rgba(46, 46, 46, 0.51);
  td {
    padding: 5px;
    border-top: 1px solid #DDD;
    cursor: pointer;
    > strong {
      padding-left: 8px;
    }
  }
  tr:hover {
    background-color: #333;
    color: #FFF;
  }
}

.vota_btn {
  position: absolute;
  top: 500px;
  left: 601px;
}

/*FELICITACIONES*/

.fel_hd {
  position: absolute;
  top: 286px;
  left: 320px;
  max-width: 434px;
  width: 15%;
  height: auto;
  z-index: 100;
  display: block;
  overflow: hidden;
  border-right: 3px solid #030303;
}

.fel_px {
  position: absolute;
  top: 286px;
  left: 320px;
  width: 434px;
  height: 247px;
  z-index: 0;
}

.fel_table {
  font-family: DIN-RegularAlternate;
  position: absolute;
  top: 253px;
  left: 20px;
  width: 270px;
  background-color: #FFF;
  line-height: 14px;
  font-size: 0.9em;
  color: #333;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(46, 46, 46, 0.51);
  -moz-box-shadow: 0px 0px 6px 0px rgba(46, 46, 46, 0.51);
  box-shadow: 0px 0px 6px 0px rgba(46, 46, 46, 0.51);
  td {
    padding: 5px;
    border-top: 1px solid #DDD;
    > strong {
      padding-left: 8px;
    }
  }
}

.fel_first {
  background-color: #DE0209;
  color: #FFF;
}

.fel_btn_a {
  position: absolute;
  top: 572px;
  left: 389px;
}

.fel_btn_b {
  position: absolute;
  top: 572px;
  left: 560px;
}

.fel_video {
  position: absolute;
  top: 287px;
  left: 321px;
}

/*LA PARABOLICA*/

.para_btn_a {
  position: absolute;
  top: 238px;
  left: 329px;
}

.para_btn_b {
  position: absolute;
  bottom: 133px;
  left: 239px;
}

.para_btn_c {
  position: absolute;
  bottom: 133px;
  left: 411px;
}

.para_video {
  position: absolute;
  top: 336px;
  left: 216px;
}