<div class="content">
    <div id="header">
        <div class="main_nav">
            <span class="main_logo"></span>
        </div>
    </div>
    
    <div class="content nofan"></div>
    
    <div id="footer">
    </div>
</div>