<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<div class="contenedor_gracias" style="background: url(/assets/fb_app_mahindra_desaparece/gracias_<%= @respuesta %>.png) no-repeat 0 0 !important;">
  <p>tu destino es:<span id="nieve"> la <%= @respuesta %></span></p>
  <div class="finales">
    <a href="#" id="invitar" class="invitar"></a>
    <a href="#" id="compartir" class="sharefb"></a>
  </div>
</div>