<div id="fb-root"></div>
<script type="text/javascript" charset="utf-8">
  window.fbAsyncInit = function() {
    FB.init({
      appId  : <%= @app_id %>,
      status : true,
      cookie : true, 
      xfbml  : true  
    });
    FB.Canvas.setSize({ width: <%= width %>, height: <%= height %> });      
  };
  (function(d) {
    var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    d.getElementsByTagName('head')[0].appendChild(js);
  }(document));
</script>

<script type='text/javascript'>
(function (d, t) {
  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
  bh.type = 'text/javascript';
  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=91lml31bxxwrhqd0qqdxpa';
  s.parentNode.insertBefore(bh, s);
  })(document, 'script');
</script>