<div id="fb-root"></div>
<script type="text/javascript" charset="utf-8">
  window.fbAsyncInit = function() {
    FB.init({
      appId  : <%= @app_id %>,
      status : true,
      cookie : true, 
      xfbml  : true  
    });
    FB.Canvas.setSize({ width: <%= width %>, height: <%= height %> });
    FB.Event.subscribe('edge.create', function(response){ 
      top.location.href = '<%= "#{@app.fanpage_link}/app_#{@app_id}" %>';
      $(".boton_fan").hide();
    });
  };
  (function(d) {
    var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/es_LA/all.js";
    d.getElementsByTagName('head')[0].appendChild(js);
  }(document));
</script>

