<div id="fb-root"></div>
<script type="text/javascript" charset="utf-8">
  window.fbAsyncInit = function() {
    FB.init({
      appId  : <%= @app_id %>,
      status : true,
      cookie : true, 
      xfbml  : true  
    });
    FB.Canvas.setSize({ width: <%= width %>, height: <%= height %> });      
  };
  (function(d) {
    var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    d.getElementsByTagName('head')[0].appendChild(js);
  }(document));
</script>

<script type='text/javascript'>
var BugHerdConfig = {
    feedback: {
      tab_text: "Reportar Problemas",
      option_title_text: "Elija una opción",
      option_pin_text: "Tengo comentarios acerca de una parte específica de esta página..",
      option_site_text: "Tengo comentarios sobre esta página o en el sitio en su conjunto.",
      feedback_entry_placeholder: "escribe un comentario o describe un problema",
      feedback_email_placeholder: "Tu E-mail",
      feedback_submit_text: "enviar comentarios",
      confirm_success_text: "Tus comentarios han sido enviados.",
      confirm_loading_text: "Enviando comentarios.",
      confirm_close_text: "cerrar",
      confirm_error_text: "El envio de su comentario no tuvo éxito.",
      confirm_retry_text: "Inténtelo de nuevo",
      confirm_extension_text: "¿Sabías que puedes enviar una captura de pantalla con sus informes de error?",
      confirm_extension_link_text: "Averigüe cómo.",
    }
  };
(function (d, t) {
  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
  bh.type = 'text/javascript';
  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=91lml31bxxwrhqd0qqdxpa';
  s.parentNode.insertBefore(bh, s);
  })(document, 'script');
</script>