<script type="text/javascript" charset="utf-8">
	$(window).load(function(){
		$("#fb_app_login").click(function(){
			FB.login(function(response){
				if (response.authResponse){
					location.href = '<%= fb_app_claro_ganate_la_parabolica_registro_path %>';
				}
			},{scope:'<%= @scope %>'});
		});
	});
</script>

<div id="home">
  <%= render :partial => "fb_app_claro_ganate_la_parabolica/menu" %>
  <iframe class="home_video" width="520" height="293" src="http://www.youtube.com/embed/C-ndIaCowTo?rel=0" frameborder="0" allowfullscreen></iframe>
  <h2 class="home_btn"><a id="fb_app_login" href="#">Participa</a></h2>
</div>



