<div id="registro">
  <%= render :partial => "fb_app_claro_ganate_la_parabolica/menu" %>
  <form class="reg_form">
    <table border=0>
      <tr>
        <td>Nombre</td>
        <td>
        <input type=text name="nombre">
        <span>x</span>
        </td>
      </tr>
      <tr>
        <td>Rut</td>
        <td>
        <input type=text name="rut">
        <span>x</span>
        </td>
      </tr>
      <tr>
        <td>Correo</td>
        <td>
        <input type=text name="correo">
        <span>x</span>
        </td>
      </tr>
      <tr>
        <td>Teléfono</td>
        <td>
        <input type=text name="telefono">
        <span>x</span>
        </td>
      </tr>
      <tr>
        <td>Región</td>
        <td>
        <input type=text name="region">
        <span>x</span>
        </td>
      </tr>  
      <tr>
        <td>
        <h2 class="reg_btn"><a href="#">Siguiente</a></h2>
        </td>
      </tr>
    </table>
  </form>
</div>
