<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<div id="contenido">
	<div class="bg_exito"></div>
	<%= @nombre %>
	<a href="/documents/fb_app_mini_parva.pdf" target="_blank"><div class="btn_bases"></div></a>
  <a href="#"><div class="btn_compartir sharefb"></div></a>
	<a href="#"><div class="btn_invitar invitar"></div></a>  		
</div>